name: Verificación de preprocesamiento

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar el repositorio
      uses: actions/checkout@v3

    - name: Instalar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependencias
      run: |
        pip install pandas scikit-learn

    - name: Probar importación del módulo de preprocesamiento
      run: |
        python -c "import src.procesamiento.preprocesamiento"
